body {
  font-family: Oswald, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  height:140px;
  position: fixed;
  top: 0;
  background-color:lightblue;
}
header {
  height:140px;
  margin-left: 20px;
  margin-right: 20px;
  padding:10px;
  opacity:0.8;
}

.logo {
  float: left;
}

.menu {
  float: left;
}

.menu--top_list {
  display: inline;
  border: 2px solid black;
  padding-right: 3px;
  background-color: black;
}

.menu--top_text {
  color: white;
}

.sign-buttons {
  float: right;
}

.sign-buttons--top_list {
  display: inline;
  border: 2px solid orange;
  padding-right: 3px;
  background-color: orange;
  cursor: pointer;
}

.sign-buttons--top_text {
  color: white;
}

/* Content */

.about{
  margin-right:20px;
  margin-left:20px;
  width:100%;
  height:500px;
}

#gallery{
  width:100%;
  height:500px;
}

#contact{
  width:100%;
  height:500px;
}

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.7);
  display: none;
}

.dialog {
  height: 200px;
  width: 400px;
  position: fixed;
  top: 40%;
  top: calc(50% - 100px);
  left: 40%;
  left: calc(50% - 200px);
  border: 1px #ccc solid;
  border-radius: 5px;
  background-color: #eee;
  padding: 20px;
  box-sizing: border-box;
  display: none;
}

.input-dialog {
  
}

.input--dialog_text {
  width: 100px;
}

.button-submit {
  display: inline;
}

.button-reset {
  display: inline;
}

.error{
    display: none;
    margin-left: 10px;
}       
 
.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}